{% extends 'parts/base.html' %}
{% block content %}

{% include 'parts/sidebarmain.html' %}
  <div class="container main">
    {% for q in posts %}
    <div class="row">
      <div class="container gedf-wrapper">
        <div class="card gedf-card">
              <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="mr-2">
                              <img class="rounded-circle" width="45" src="/media/{{ q.autor.foto_perfil }}" alt="">
                          </div>
                          <div class="ml-2">
                              <div class="h5 m-0">@{{ q.autor.nomefunc }}</div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="card-body">
                  <div class="text-muted h7 mb-2">{{ q.pub_date }}</div>
                  <div class="container col">
                      <div class="mediaposts">
                      {% for i in q.image_set.all %}
                        <img class="mediaposts-item" src="/media/{{ i.file }}"><br>
                      {% endfor %}
                      </div><hr>
                      <p class="card-text">
                          {{ q.text }}
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
      {% endfor %}
  </div>
  <!--<div class="sidebar2">
    <h2></h2>
  </div>-->
{% endblock %}