{% extends 'parts/base.html' %}
{% block content %}

{% include 'parts/sidebarmain.html' %}
  <div class="container main">
    <div class="row">
      <div class="container col gedf-wrapper">
        <div class="card gedf-card">
              <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="mr-2">
                              <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                          </div>
                          <div class="ml-2">
                              <div class="h5 m-0">@LeeCross</div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="card-body">
                  <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> Hace 40 min</div>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugit reprehenderit consectetur exercitationem odio,
                      quam nobis? Officiis, similique, harum voluptate, facilis voluptas pariatur dolorum tempora sapiente
                      eius maxime quaerat.
                      <a href="https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU" target="_blank">https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU</a>
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>

  <!--<div class="sidebar2">
    <h2></h2>
  </div>-->
{% endblock %}