{% extends 'parts/base.html' %}
{% block content %}
<section>
{% include 'parts/sidebarmain.html' %}

<div class="container main">
    <div class="container rounded mb-5 border-profile">
        <div class="row">
            <div class="col-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150" src="/media/{{ usuario.foto_perfil }}">
                    <span class="font-weight-bold">{{ usuario.nomefunc }}</span>
                    <span class="text-black-50">{{ usuario.bio|default_if_none:'' }}</span>
                    <span class="text-black-50">{{ usuario.filial|default_if_none:'' }} - Ramal {{ usuario.ramal|default_if_none:'Não cadastrado' }}</span>
                </div>
            </div>

            <div class="col border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="text-right">Editar Perfil</h2>
                    </div><hr>
                    <div class="container">
                        <form method="post" id="formgroup" enctype="multipart/form-data">{% csrf_token %}
                        <div class="col-6"><label class="labels">Bio</label><input type="text" class="form-control" name="biograph"></div>
                        <div class="col-6"><label class="labels">Foto do Perfil</label><input type="file" class="form-control" name="fotoperfil"></div>
                        <div class="col-6"><label class="labels">Email</label><input type="text" class="form-control" name="email" placeholder="Ex: exemplo@exemplo.com.br"></div>
                        <div class="col-6"><label class="labels">Telefone</label><input type="text" class="form-control" name="telefone" placeholder="Ex: 11987654321"></div>
                        <div class="col-6"><label class="labels">Ramal</label><input type="text" class="form-control" name="ramal" placeholder="Ex: 999"></div>
                        <div class="col-6"><label class="labels">Filial</label><input type="text" class="form-control" name="filial" placeholder="Ex: SPO"></div>
                        <div class="col-6 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}