{% extends 'parts/base.html' %}
{% block content %}
{% load globaltags %}
{% include 'parts/sidebarmain.html' %}
<style>
    .module {
        border: none;
        margin-bottom: 30px;
        background: var(--body-bg);
    }
    .alignbox {
        display:block;
        margin: 2rem 0 0 15rem;
        max-width:60%
    }
    .alignbox p{
        display:flex;
    }
    .alignbox input[type="password"]{
        margin-left:auto;
        border: solid 1px;
        border-radius: 0.2rem;
    }
    .alignbox ul li{
        list-style-type: none;
        font-size: 12px;
        color: #a9a9aa;
    }
    .alignbox button{
        display:flex;
        margin-left:auto;
        margin-right:auto;
        height:3rem;
        width:10rem;
        font-size:1.5rem;
    }
</style>
<div class="container main">
    <form method="post" id="formgroup" class="mt-5">
      {% csrf_token %}
      <fieldset class="module alignbox">
      {{ form.as_p }}
      <button type="submit" id="button" class="btn btn-primary profile-button">Alterar</button>
      </fieldset>
    </form>
<script>
    $(document).ready(function(){
        $("#button").click(function(e){
            form = document.forms['formgroup']
            $.ajax({
                type: "POST",
                url: "{% url 'base:syncuser' %}",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                data: {
                        'old_password': form.old_password.value,
                        'new_password1': form.new_password1.value,
                        'new_password2': form.new_password2.value
                }});
        });
    });
</script>
</div>
{% endblock %}